/**-----重置-----**/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video ,input{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section img {
	display: block;
}

body {
	color: rgb(51, 51, 51);
	font: 16px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
	font-family: "microsoft yahei";
	min-width: 1200px;
	overflow-x: hidden;
}
a{
	color: #000;
	text-decoration: none;
}
input {
	font-size: 16px;
	font-family: "microsoft yahei";
	
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
td{
	height: 30px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #000;
}
/*左浮动*/

.fl {
	float: left;
}


/*右浮动*/

.fr {
	float: right;
}


/*清除浮动*/

.clear {
	zoom: 1;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
	line-height: 0;
}
.rd{
	color: red;
}

div{
	/*border: 1px solid #000;*/
}
/*主体宽度*/
.inner-out{
	width: 1247px;
	  margin: 30px auto 0;
	border: 2px solid #000;
}
/*顶部*/
.h110{
	height: 109px;
}
.head{
	
	position: fixed;
	z-index: 2;
	top: 0;
	top: 30px;
	width: 1243px;
	height: 110px;
	border-top: 2px solid #000;
	background-color: #fff;
}
/*顶部左边*/
.h-left{
	width: 182px;
}
.head td{
	height: 28px;
	text-align: center;
}
.head .button{
	height: 79px;
	line-height: 79px;
	background-color: #fff;
}
.head button{
	padding: 2px 10px;
	font-weight: bold;
	font-size: 16px;
	height: 40px;
	border: 0;
	background-color: #4781dc;
	color: #fff;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
/*顶部右边*/
.h-right{
	width: 182px;
}
.h-right button{
	width: 160px;
	height: 40px;
}
/*顶部中间*/
.h-cent{
	width: 879px;
}
.h-cent table{
	width: 879px;
	font-weight: bold;
}
.h-cent table td{
	height: 36px;
}
table td.one{
	width: 50px;
}
.h-cent table td.tow{
	color: #000;
	width: 50px;
}
.h-cent table input{
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-align: center;
}

/*中间部分*/
.middle{
	width: 100%;
	height: 500px;
}
.midd{
	height: 500px;
	overflow-y: auto;
	white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.midd::-webkit-scrollbar{
	display: none;
}
.midd table{
	color: rgb(255, 192, 0);
}
.midd table tr td.bg{
	background-color: rgb(122, 0, 0);
}
.midd table tr td:first-child{
	color: #000;
}

/*底部*/
.f-left{
	width: 233px;
}
.foot .one{
	width: 75px;
}
.f-cent table{
	width: 828px;
}
.f-cent table tr td{
	width: 4%;
}



/*后台页面*/
.h-center{
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
}

.h-two td{
	width: 21px;
	height: 27px;
}
.h-center .fh{
	width: 70px;
}
.h-center .last{
	width: 115px;
}
.h-center .txl{
	padding-left: 4px;
	text-align: left;
}
.h-center .empty{
	width: 380px;
}
.h-center .bd{
	color: #000;
}
.bg{
	color: #fff;
	background-color: rgb(122, 0, 0);
}
.h-two td.bgl{
	height: 10px;
	background-color: rgb(0, 176, 240);
}

.h-center input{
	width: 100%;
	height: 100%;
	font-weight: bold;
    text-align: center;
}
.generate td{
	width: 82px;
}
