<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

	    <meta name="description" content="">
	
	    <meta name="Keywords" content="">
	
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<style type="text/css">
			table{border-collapse: collapse;}
			table td,table th{
				border: 1px solid rgba(0,0,0,1);
			}
			.top-body{overflow-y: scroll;}
			.top-body>table{table-layout: fixed;}
			.scroll-body{overflow-y: scroll;max-height: 615px;}
			.scroll-body>table{table-layout: fixed;}
			.scroll-body td{height: 33px;}
			.bottom-body{overflow-y: scroll;}
			.bottom-body>table{table-layout: fixed;}
			.bottom-body>td{height: 38px;}
			
			.blue{background-color: #087ec3;color: white;}
			.blue2{background-color: #92ebff;}
			.yellow{background-color: yellow;}
			
			
			.btn1{text-align: center;margin: 5px;height: 40px;line-height: 40px;border-radius:5px}
			
		
		
		</style>
	</head>
	<body>
		<!--前臺表-->
		<section class="reception_wrap" style="overflow-x: scroll;height: 100%;">
			<div class="reception_box">
				<!--數據表-->
				<table>
					<tr class="reception">
						<!--A表-->
						<td  class="table_top rec-table-one">
						<div class="top-body">
							<table  class="rec-table-one">
							<colgroup>
								<col style="width:90px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;"><col style="width:65px;">
								<col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">
								<col style="width:120px;"><col style="width:90px;">

								<col style="width:120px;"><col style="width:90px;">
								<!--<col style="width:120px;"><col style="width:80px;">
                                <col style="width:120px;"><col style="width:80px;">
                                <col style="width:120px;"><col style="width:80px;">
                                <col style="width:120px;"><col style="width:80px;">-->

								<col style="width:120px;">
											
										</colgroup>
								<tbody id="head_group">
							  	<tr class="data_col"> <td colspan="1"><a href="javascript:history.back(-1)">返回</a></td><td colspan="39">歷史記錄</td><td colspan="1"><a href="javascript:history.back(-1)">返回</a></td></tr>
							  	<tr class="data_col">
							    	<td rowspan="2">序號</td>
							    	<td colspan="2">1號</td>
							    	<td colspan="2">2號</td>
							    	<td colspan="2">3號</td>
							    	<td colspan="2">4號</td>
							    	<td colspan="2">5號</td>
							    	<td colspan="2">6號</td>
							    	<td colspan="2">7號</td>
							    	<td colspan="2">8號</td>
							    	<td colspan="2">9號</td>
							    	<td colspan="2">10號</td>
							    	<td rowspan="2">序號</td>
							    	<td colspan="2">匯總結果</td><!--
							    	<td colspan="2">匯總求和</td>
							    	<td colspan="2">合并報告</td>
							    	<td colspan="2">合并求和</td>
							    	<td colspan="2">選擇報告</td>
							    	<td colspan="2">選擇求和</td>
							    	<td colspan="2">結果報告</td>-->


									<td colspan="2">結果1</td>
									<td colspan="2">結果2</td>
									<td colspan="2">結果3</td>
									<td colspan="2">結果4</td>
									<td colspan="2">求和終端</td>

									<td colspan="2">结果終端</td>
									<td colspan="2">板塊報告</td>
									<td colspan="2">板塊终端</td>

							    	<td rowspan="2"><a href="javascript:tableExport()">導出</a></td>
							    	
							  	</tr>
							  	<tr class="data_col">
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
							    	<td >求和</td>
							    	<td >結果</td>
									<td >求和</td>
									<td >結果</td>
									<td >求和</td>
									<td >結果</td>
									<td >求和</td>
									<td >結果</td>
									<td >求和</td>
									<!--<td >結果</td><td >求和</td>

									<td >結果</td><td >求和</td>
									<td >結果</td><td >求和</td>
									<td >結果</td><td >求和</td>
									<td >結果</td><td >求和</td>
									<td >結果</td><td >求和</td>-->
							  	</tr>
							  	</tbody>
							  
							</table>
							</div>
						</td>
						
					</tr>
					<tr>
						<td>
							<div class="scroll-body">
							<table class="rec-table-one">
										<colgroup>
											<col style="width:90px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;"><col style="width:65px;">
											<col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">
											<col style="width:120px;"><col style="width:90px;">

											<col style="width:120px;"><col style="width:90px;">
											<!--<col style="width:120px;"><col style="width:80px;">
                                            <col style="width:120px;"><col style="width:80px;">
                                            <col style="width:120px;"><col style="width:80px;">
                                            <col style="width:120px;"><col style="width:80px;">-->

											<col style="width:120px;">
											
										</colgroup>
									<tbody id="main_group">
									<!-- <tr class="data_col ">
							  		<td>1</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>1</td>
							    	<td>-111</td><td>3</td>
							    	<td>-111</td><td>3</td>
							    	<td>刪除</td>

							  	</tr> -->
							  	</tbody>
							  	<tr class="data_col">
							    	<td rowspan="2">序號</td>
							    	<td colspan="2">1號</td>
							    	<td colspan="2">2號</td>
							    	<td colspan="2">3號</td>
							    	<td colspan="2">4號</td>
							    	<td colspan="2">5號</td>
							    	<td colspan="2">6號</td>
							    	<td colspan="2">7號</td>
							    	<td colspan="2">8號</td>
							    	<td colspan="2">9號</td>
							    	<td colspan="2">10號</td>
							    	<td rowspan="2">序號</td>
							    	<td colspan="2">匯總結果</td>
							    	<!--<td colspan="2">匯總求和</td>
							    	<td colspan="2">合并報告</td>
							    	<td colspan="2">合并求和</td>
							    	<td colspan="2">選擇報告</td>
							    	<td colspan="2">選擇求和</td>
							    	<td colspan="2">結果報告</td>-->


									<td colspan="2">結果1</td>
									<td colspan="2">結果2</td>
									<td colspan="2">結果3</td>
									<td colspan="2">結果4</td>
									<td colspan="2">求和終端</td>

									<td colspan="2">结果終端</td>
									<td colspan="2">板塊報告</td>
									<td colspan="2">板塊终端</td>

							    	<td rowspan="2"><a href="javascript:del(2)">刪除全部</a></td>
							    	
							  	</tr>
							</table>
							</div>
						
						</td>
					</tr>
					
				</table>
				
				
				
			</div>
		</section>
		
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../jslib/layer/layer.js"></script>
		<script type="text/javascript" src="../js/template-web.js"></script>
		<script src="../js/tableExport.min.js"></script>
		<script src="../js/jquery.base64.js"></script>
		
		<script src="./js/turn-core.js"></script>
		
		<script type="text/javascript">
		
		$(function(){
			 $app.request("../user/his.do",function(data){
					if(data.code!=1){
						$app.alert(data.msg);
						return;
					}
					
					ref(data.data);
				});
			
		});
		
		

		
		
		
		function ref(data){
			console.log(data);
			var bigTurns = data.bigTurns||[];
			var turns = data.turns||[];
			var his = data.his||[];
			var hisMap  = {};
			for (var i = 0; i < his.length; i++) {
				if(!hisMap[his[i].tid])hisMap[his[i].tid] = [];
				hisMap[his[i].tid].push(his[i]);
			}
			var vDataMap = [];
			for (var i = 0; i < turns.length; i++) {
				
				if(turns[i].frow>=4)
					var tData = initViewData({turn:turns[i],counts:hisMap[turns[i].id]});
				else var tData = getDefVdata(turns[i]);
				if(!vDataMap[tData.turn.big_turn_id])vDataMap[tData.turn.big_turn_id] = [];
				vDataMap[tData.turn.big_turn_id].push(tData);
			}
			
			console.log(vDataMap);
			var vData = [];
			
			
			var sumData = {hb:{jg:0,qh:0}
			,hbBg:{jg:0,qh:0}
			,qh:{sum:0,qh:0,jg:0}
			,yz:{sum:0,qh:0,jg:0}
			,hbqh:{sum:0,qh:0,jg:0}
			,xzBg:{sum:0,qh:0,jg:0}
                ,jgAbg:{sum:0,qh:0,jg:0}
                ,jgBbg:{sum:0,qh:0,jg:0}
                ,bgA:{sum:0,qh:0,jg:0}
                ,bgB:{sum:0,qh:0,jg:0}
                ,jgzd:{sum:0,qh:0,jg:0}
                ,bkbg:{sum:0,qh:0,jg:0},bkzd:{sum:0,qh:0,jg:0}};
			var gHzData = {hb:0,qh:0,yz:0,hbBg:0,hbqh:0,xzBg:0,jgAbg:0,jgBbg:0,bgA:0,bgB:0,jgzd:0,'bkbg':0,'bkzd':0};
			
			for (var i = 0; i < bigTurns.length; i++) {
				bigTurns[i].bigTurnConfig = eval("("+bigTurns[i].config_json+")");
				var tData = createBigVdata(bigTurns[i],vDataMap[bigTurns[i].id]);
				 
				console.log(tData);
				
				vData.push(tData);
				var index = [1,2,3,4,5,6,7,8,9,10,'hb'/*,'qhBg','hbBg', 'hbqh','xzBg','xzqh','jgbg'*/,'jgAbg','jgBbg','bgA','bgB','zdbg','jgzd','bkbg','bkzd']
				for (var j = 0; j < index.length; j++) {
					var col = index[j];
					if(!sumData[col])sumData[col] = {jg:0,qh:0};
					if(!gHzData[col])gHzData[col] = 0;
					
					if(tData.jgData[col]){
						sumData[col].jg+=tData.jgData[col].jg;
						sumData[col].qh+=tData.jgData[col].qh;
					}
					if(tData.bgData[col]){
						gHzData[col]+=isNaN(tData.bgData[col][3])?0:new Number(tData.bgData[col][3]);
					}
					
				}
			}

            let jgCols = ['hb'/*,'qhBg','hbBg','hbqh','xzBg','xzqh','jgbg'*/,'jgAbg','jgBbg','bgA','bgB','zdbg','jgzd','bkbg','bkzd'];

            var m = {vData:vData,sumData:sumData,gHzData:gHzData,u:[1,2,3,4,5,6,7,8,9,10]
			,jgCols:jgCols};
			console.log(m);
			var html = template("tb_tmpl",m);
			/* for ( var j in vData) {
				var tData = vData[j];
				var row = '<tr class="data_col "><td>'+(tData.turn.id)+'</td>';
				for (var i = 0; i < 10; i++) {
					row+=(tData.jgData[i+1]?'<td>'+tData.jgData[i+1].jg+'</td><td>'+tData.jgData[i+1].qh+'</td>':'<td></td><td></td>');
				}
				row+='<td>'+(tData.turn.id)+'</td>';
				row+='<td>'+tData.jgData['hb'].jg+'</td><td>'+tData.jgData['hb'].qh+'</td>';
				row+='<td>'+tData.qhData[1].sum+'</td><td>'+tData.qhData[1].qh+'</td>';
				
				row+='<td><a href="javascript:del(1,'+tData.turn.id+')">刪除</a></td></tr>';
				html+=row;
			}
			 */
			$('#main_group').html(html)
			
			
		}
		
		
		function del(mod,tid){
			var msg = (mod==1?'您確定刪除該條記錄？':'您確定刪除全部記錄？')
			
			layer.confirm(msg, {
				  btn: ['確定','取消'] //按鈕
				}, function(){
					$app.request("../user/his/del.do",function(data){
						if(data.code==1){
							layer.msg("刪除成功");
							window.location.reload()
						}else{
							layer.msg(data.msg||"刪除失敗");
							
						}
						
					},{param:{mod:mod,
						tid:tid}});
				},function(){});
			 
			
		}
		
		
		function tableExport(){
			var hd =  $($("#head_group").html());
			var tb = $(".scroll-body>table");
			$("#main_group").prepend(hd);
			tb.tableExport({type:'excel',ignoreColumn: [],ignoreRow:[]
				, separator:';', escape:'false'
					 ,formats: ['xlsx']
			,fileName: '歷史記錄'+new Date().format("yyyy-MM-dd")});
			hd.remove();
		}
		
		
		</script>
		
		
		<script type="text/html" id="tb_tmpl">
		{{each vData as tData j}}
			<tr class="data_col "><td>{{tData.bigTurn.id}}</td>
				{{each u as val i}}
					{{if tData.jgData[i+1]}}<td {{if tData.jgData[i+1].jg>0}}class="red"{{/if}}>{{tData.jgData[i+1].jg}}</td><td {{if tData.jgData[i+1].qh>0}}class="red"{{/if}}>{{tData.jgData[i+1].qh}}</td>{{else}}<td></td><td></td>{{/if}}
				{{/each}}
				<td>{{tData.bigTurn.id}}</td>
				{{each jgCols as col i}}
					<td {{if tData.jgData[col].jg>0}}class="red"{{/if}}>{{tData.jgData[col].jg}}</td><td {{if tData.jgData[col].qh>0}}class="red"{{/if}}>{{tData.jgData[col].qh}}</td>
				{{/each}}
		<td><a href="javascript:del(1,{{tData.bigTurn.id}})">刪除</a></td>
			</tr>
		{{/each}}
			<tr class="data_col blue2"><td>匯總</td>
				{{each u as val i}}
					{{if sumData[i+1]}}<td {{if sumData[i+1].jg>0}}class="red"{{/if}}>{{sumData[i+1].jg}}</td><td {{if sumData[i+1].qh>0}}class="red"{{/if}}>{{sumData[i+1].qh}}</td>{{else}}<td></td><td></td>{{/if}}
				{{/each}}
				<td>匯總</td>

				{{each jgCols as col i}}
					<td {{if sumData[col].jg>0}}class="red"{{/if}}>{{sumData[col].jg}}</td><td {{if sumData[col].qh>0}}class="red"{{/if}}>{{sumData[col].qh}}</td>
				{{/each}}

				<td>匯總</td>
			</tr>
			<tr class="data_col blue"><td>共計</td>
				{{each u as val i}}
					<td colspan="2" {{if gHzData[i+1]>0}}class=""{{/if}}>{{gHzData[i+1]}}</td>
				{{/each}}
				<td>共計</td>
				{{each jgCols as col i}}
				<td colspan="2"  {{if gHzData[col]>0}}class=""{{/if}}>{{gHzData[col]}}</td>
				{{/each}}


				<td>共計</td>
			</tr>

		</script>
		
	</body>
</html>
