<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

	    <meta name="description" content="">
	
	    <meta name="Keywords" content="">
	
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
	</head>
	<body>
		<!--前臺表-->
		<section class="reception_wrap">
			<div class="reception_box" style="max-width: 1400px;">
				<!--數據表-->
				<table style="border: 1px solid #000;">
					<tr class="reception">
						<!--A表-->
						<td colspan="12" class="table_top rec-table-one">
							<table border="0" style="border: 1px solid #000;table-layout:fixed;">
							  	<!--<caption>計算表</caption>-->
							  	<!--表頭-->
							  	
							  	<tr class="tb_head">
							    	<th colspan="12" class="main_tit">計&nbsp;算&nbsp;表&nbsp;</th>
							  	</tr> 
							 
							  	<!--輸入框-->
							  	<tr class="person_int" id="input_group">
							    	<td colspan="2" class="focus_row" style="">--</td>
							    	<td colspan="8"><input type="text" style="width: 100%" maxlength="1" autofocus="autofocus" class="int_item" placeholder="" /></td>
							    	<td colspan="2" class="focus_row" style="">--</td>
							  	</tr>
							  	<tr class="operation_box">
							  		<td colspan="12">
							  			<div class="funtr_td_box">
											<div class="clearfix funtr_td jus-a ali-c">
												<div class="refresh_btn unselectable">刷新</div>
												<div class="sure_btn unselectable">確定</div>
												<div class="exit_btn unselectable">關閉</div>
											</div>
										</div>
							  		</td>
							  	</tr>
							  	<tr >
							  		<td colspan="12" style="padding: 0px;">
							  			<table id="bg_group" style="border: 1px solid #000;table-layout:fixed;he">
												<tr>
											    	<td colspan="2" rowspan="3">--</td>
											    	<td colspan="2">老</td>
											    	<td colspan="2" class="red"></td>
											    	<td colspan="2">男</td>
											    	<td colspan="2" class="red"></td>
											    	<td colspan="2" rowspan="3">--</td>
											  	</tr>
											  	<tr>
											    	<td colspan="2">少</td>
											    	<td colspan="2" class="red"></td>
											    	<td colspan="2">女</td>
											    	<td colspan="2" class="red"></td>
											  	</tr>
												<tr>
											    	<td colspan="2">统计</td>
											    	<td colspan="2"></td>
													<td colspan="2">累计</td>
											    	<td colspan="2"></td>
											  	</tr>
											  	<tr>
											    	<td colspan="2">--</td>
											    	<td colspan="2">结果</td>
													<td colspan="4" class="focus_jg"></td>
													<td colspan="2">结果</td>
											    	<td colspan="2">--</td>
											  	</tr>
							  			</table>
							  		</td>
							  	</tr>
							  	
							  
							  		
							  	
							</table>
						</td>
						<!--B表-->
						<td colspan="4" class="table_top rec-table-two" style="border: 1px solid #000;">
							
									<table border="" cellspacing="" cellpadding="" class="child_tit_r" style="width:100%">
										<tbody><tr><th colspan="4" class="main_tit" style="font-size: 20px;">结果趋势 &nbsp;&nbsp;<a href="javascript:removeAll()" style="font-size: 14px;color:#333;">清空数据</a></th></tr>
										<tr></tr>
										</tbody>
									</table>
									<div style="overflow-y:scroll;height:500px;">
											<table border="1" class="" style="height:500px;" >
											<colgroup>
											</colgroup>
											  	<tbody id="queue_group">
												  	<!--數據行-1-->
												  	<!-- <tr class="data_col_r">
												  		<td class="frist">第 <span class="red">9</span> 位</td>
												    	<td>女</td>
												    	<td>-</td>
												    	<td>6</td>
												  	</tr> -->
												  	
												  	<!--關閉-->
												  	
											  	</tbody>
											</table>
									</div>
									 <div style="overflow-y: scroll;">
									<table style="width:100%;height: 50px;" >
											<colgroup>
											</colgroup>
										<tr ><td  style="width:93px;">求和</td><td colspan="2" id="allQh">--</td></tr>
									</table>
									</div>
								
							</td>
					</tr>
					
				</table>
				<!--彈窗-->
				<!--關閉按鈕-->
				<div class="exit_pup_wrap hide">
					<div class="exit_pup_box">
						<div class="exit_pup">
							<h2>確定要關閉嗎？</h2>
							<div class="pup_btn">
								<a href="javascript:;" class="cancel_btn">取消</a>
								<a href="reception-login.html">確定</a>
							</div>
						</div>
					</div>
				</div>
				<!--刷新按鈕-->
				<div class="refresh_pup_wrap hide">
					<div class="exit_pup_box">
						<div class="exit_pup">
							<h2>確定要刷新嗎？</h2>
							<div class="pup_btn">
								<a href="javascript:;" class="cancel_btn">取消</a>
								<a href="javascript:;" class="pup_sure_btn">確定</a>
							</div>
						</div>
					</div>
				</div>
				<!--確定按鈕-->
				<div class="sure_pup_wrap hide">
					<div class="exit_pup_box">
						<div class="exit_pup">
							<h2>請檢查輸入框是否填滿</h2>
							<div class="pup_btn">
								<a href="javascript:;" class="pup_sure">確定</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<script src="js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			//關閉彈窗
			$(".exit_btn").click(function () {
				logout();
				//$(".exit_pup_wrap").addClass("showtb").removeClass("hide")
			})
			$(".cancel_btn").click(function () {
				$(".exit_pup_wrap").addClass("hide").removeClass("showtb")
			})
			//刷新彈窗
			$(".refresh_btn").click(function () {
				reNew();
				//$(".refresh_pup_wrap").addClass("showtb").removeClass("hide")
			})
			$(".cancel_btn,.pup_sure_btn").click(function () {
				$(".refresh_pup_wrap").addClass("hide").removeClass("showtb")
			})

//			回刪
			$('.int_item').on('keyup',function(e){
				var i = $('.int_item').index(e.target);
				if (window.event.keyCode==8) {
					this.value="";
					if (i<=0) {
						i=0;
					} else{
						i--;
					}
					$('.int_item').eq(i).focus();
				}
			})	
//			確定按鈕判斷
			var off=null;
			$(".sure_btn").click(function () {
				for (var j=0;j<$('.int_item').length;j++) {
					if ($('.int_item').eq(j).val()=="") {
						off=true;
						break;
					}else{
						off=false;
					}
				}
				
				if (off) {
					$(".sure_pup_wrap").addClass("showtb").removeClass("hide")
					$(".pup_sure").click(function () {
						$(".sure_pup_wrap").addClass("hide").removeClass("showtb")
					})
				}else{
					doInput();
					
				}
			})
		</script>
		
		<script src="../js/app.js"></script>
		<script src="../jslib/layer/layer.js"></script>
		<script type="text/javascript" src="../js/template-web.js"></script>
		
		<script type="text/javascript" src="../js/tableExport.min.js"></script>
		<script type="text/javascript" src="../js/jquery.base64.js"></script>
		
	<script type="text/javascript">
//	input輸入框
	$('.int_item').on('input propertychange',onInput);
	function onInput(e){
		var inp = e.currentTarget;
		var i = $('.int_item').index($(inp));
		inp.value=inp.value.replace(/[^1234.]/g,'')
			if ($(inp).val().length==1) {
				i++;
				$('.int_item').eq(i).focus();
			} else if ($(inp).val().length>1) {
				inp.value=inp.value.replace(/[\d]/g,'')
			}
			if (window.event.keyCode==8) {
				inp.value="";
				if (i<=0) {
					i=0;
				} else{
					i--;
				}
				$('.int_item').eq(i).focus();
			}
			
	}
	
	
	
	function reNew(){
		 layer.confirm('是否重新開始？', {
			    btn: ['確定', '取消']
			  },function(index){
				  layer.close(index);
				  $app.request("../user/game/renew.do",function(data){
					  if(data.code!=1){
							$app.alert(data.msg);
							return;
						}
					  cleanInput();
						ref(data.data);
					  
				  });
				  
			  });
	}
	
	
	function doInput(){
		var val = getInput();
		if(!val){
			layer.alert("請輸入完整");
			return;
		}
		var index = layer.load(1, {
			  shade: [0.5,'#555'] //0.1透明度的白色背景
			});
		$app.request("../user/game/input.do?pei="+val,function(data){
			layer.close(index);
			if(data.code!=1){
				$app.alert(data.msg,"e");
				return;
			}
			cleanInput();
			$app.msg("ok");
			ref(data.data);
			
		}); 
		
	}
	
	
	function getInput(){
		
		var inputs = $("#input_group input");
		var val="";
		inputs.each(function(i,e){
			var v = $(e).val();
			if(!(/^[1234]{1}$/g).test(v))return;
			val+=v;
		});
		if(val.length!=1)return;
		var ret = '';
		for (var i = 0; i < 10; i++) {
			ret+=val;
		}
		return ret;
	}
	
	function cleanInput(){
		
		var inputs = $("#input_group input");
		inputs.val("");
	}
	
	function logout(){
		layer.confirm('您確定要退出？', {
			  btn: ['確定','取消'] //按鈕
			}, function(){
				$app.request("../logout.do",function(data){
					window.location.href = $app.loginUrl;
				});
			});
		 
		
	}
	
	function tableExport(){
		var tb = $(etbHtml);
		
		$("body").append(tb);
		tb.tableExport({type:'excel',ignoreColumn: [],ignoreRow:[]
			, separator:';', escape:'false'
				 ,formats: ['xlsx']
		,fileName: '前臺表導出'+new Date().format("yyyy-MM-dd")});
		tb.remove();
	}
	
	
	
	</script>
	<script type="text/javascript">
	
	var notifyDialog;
	
	$(function(){
		 $app.request("../user/game/data.do",function(data){
				if(data.code!=1){
					$app.alert(data.msg);
					return;
				}
				
				ref(data.data);
			});
		 
		　$(document).keydown(function(event){
			
			　if(event.keyCode == 32){
				layer.close(notifyDialog);
				　　}
		　　　　
			　
		　　});
		
	});
	
	
var etbHtml = "";	
	
function ref(data){
	$(".focus_row").html(data.game.focus_row-2);
	$("#queue_group").empty();
	$("#allQh").empty();
	 if(data.game.focus_row>=4){
		 var info = eval(data.turn.info);
		 var tg = {lsbg:{k:info[4]==0?'':(info[4]>0?'老':'少'),v:Math.abs(info[4])}
		 ,nnbg:{k:info[5]==0?'':(info[5]>0?'男':'女'),v:Math.abs(info[5])
				 },lj:data.turn.lj,info:{}};
		 
	 }
	
	$("#bg_group").html(template('tmpl_tg',{frow:data.game.focus_row-2,
		tg:tg?tg:{lsbg:{k:'',v:''},nnbg:{k:'',v:''},lj:0,info:{}}})); 
	
	if(data.game.focus_row>=3){
		var tgM = [];
		for (var i = 0; i < data.counts.length; i++) {
			var ts = data.counts[i].tg?data.counts[i].tg.split(","):[];
			for (var j = 0; j < ts.length; j++) {
				if(!ts[j])continue;
				var v = new Number(ts[j].split("_")[0])+new Number(ts[j].split("_")[1]);
				if(isNaN(tgM[j]))tgM[j]= 0;					
				
				tgM[j]+=v;
			}
		}
		
		
		var html = '';
		var focus_jg = null;
		var allJg = 0;
		var qh = 0;
		for (var i = 0; i < tgM.length; i++) {
			var v = tgM[i];
			focus_jg = v;
			allJg+=v;
			qh+=(v>0?1:(v<0?-1:0));
			html+='<tr class="data_col_r"><td class="frist">'+((i==tgM.length-1)?('<a id="bottom">'+(i+1)+'</a>'):(i+1))+'</td>'
		    	+'<td '+(v<=0?'style="color:#000"':'')+'>'+v+'</td>'
		    	+'<td '+(allJg<=0?'style="color:#000"':'')+'>'+allJg+'</td></tr>';
		    	
		}
		$(".focus_jg").html(focus_jg);
		if(focus_jg>0)$(".focus_jg").addClass("red");
		
		$("#queue_group").html(html+'<tr></tr>');
		/* if(allJg>0)
			$("#allJg").addClass("red");
		else $("#allJg").removeClass("red");
		$("#allJg").html(allJg); */
		if(qh>0)
			$("#allQh").addClass("red");
		else $("#allQh").removeClass("red");
		$("#allQh").html(qh);
		
		
		
		location.href="#bottom";
		
	}
	
	
	
	
	
	
}
	
	
/**
清空所有游戏数据
*/
function removeAll(){
	layer.confirm('確定清空數據？', {
		  btn: ['是','否'] 
		}, function(){
			$.ajax({
				url:"../user/game/removeAll.do",
				type:"post",
				async:false,
				success:function(result){
					if(result.code==1){
						layer.msg('成功');
					}
					else{
						
						alert(result.msg)
					}
				}
			});
		  
		}, function(){
		 
		});
	
}
	
	
	</script>
	<script type="text/javascript">
	var gameCore = {
			HU_NUM:20
			,ITEM_LENGTH:4
		,queue:function(scan,gong){
			var scans = scan.split(",");
			var gongs = gong.split(",");
			
			var tempRet = [];
			for (var i = 0; i < scans.length; i++) {
				for (var j = 0; j < this.HU_NUM; j++) {
					var item = scans[i].substring(j*this.ITEM_LENGTH,j*this.ITEM_LENGTH+4);
					var nv = gongs[i].substring(j,j+1)
					var num = new Number(item.substring(1,4));
					if(num>=11){
						var h = j%2!=0?j/2+0.5:j/2+1;
						if(!tempRet[h])tempRet[h] = [];
						tempRet[h].push({hu:h,
							nv:nv,
							zf:item.substring(0,1),
							num:num-10})
						
					}
				}
			}
			
			var ret = [];
			for (var i = 0; i < tempRet.length; i++) {
				if(tempRet[i])
				ret = ret.concat(tempRet[i]);
			}
			
			return ret;
			
		}
		
	
	,tg:function(queue,gong,rule){
		var info = {
				'老+':{v:0},'少+':{v:0},
				'老-':{v:0},'少-':{v:0},
				'男+':{v:0},'女+':{v:0},
				'男-':{v:0},'女-':{v:0},
		}
		var qs = queue.split(",");
		var gs = gong.split(",");
		var start = new Number(rule.split(",")[0]);
		var end = new Number(rule.split(",")[1]);
		for (var i = 0; i < qs.length; i++) {
			
			for (var j = 0; j < this.HU_NUM; j++) {
				var q1 = qs[i].substring(j*this.ITEM_LENGTH,j*this.ITEM_LENGTH+4);
				var g1 = gs[i].substring(j,j+1);
				info[g1+q1.substring(0,1)].v+=getJg(new Number(q1.substring(1,this.ITEM_LENGTH)),start,end);
			}
			
		}
		
		var lsb1 = getHz(info['老+'],info['少+'],true);
		var lsb2 = getHz(info['老-'],info['少-'],false);
		var nnb1 = getHz(info['男+'],info['女+'],true);
		var nnb2 = getHz(info['男-'],info['女-'],false);
		
		var lsbg = {k:lsb1+lsb2>0?'老':(lsb1+lsb2<0?'少':''),v:Math.abs(lsb1+lsb2)}
		var nnbg = {k:nnb1+nnb2>0?'男':(nnb1+nnb2<0?'女':''),v:Math.abs(nnb1+nnb2)}
		
		
		/**
		返回正反报
		*/
		function getHz(q1,q2,isQf){
			if(q1.v>q2.v){
				q1.hz=q1.v-q2.v;
				return isQf?-q1.hz:q1.hz;
			}
			if(q2.v>q1.v){
				q2.hz=q2.v-q1.v;
				return isQf?q2.hz:-q2.hz;
			}
			
			return 0;
			
		}
		
		function getJg(length,start,end) {
			var isMinus = false;
			if(length>=start&&length<end) {
				var l = (length*Math.pow(2,length-start));
				
				return isMinus?-l:l;
			}
				
			else return 0;
			
		}
		
		
		return {lsbg:lsbg,nnbg:nnbg,info:info};
		
		
	}
	
			
			
	}
	</script>
	<script type="text/html" id="tmpl_tg">
	<tr>
							    	<td colspan="2" rowspan="3" >{{frow}}</td>
							    	<td colspan="2" >老</td>
							    	<td colspan="2" class="red">{{if tg.lsbg.k=='老'}}{{tg.lsbg.v}}{{/if}}</td>
							    	<td colspan="2" >男</td>
							    	<td colspan="2" class="red">{{if tg.nnbg.k=='男'}}{{tg.nnbg.v}}{{/if}}</td>
							    	<td colspan="2" rowspan="3" >{{frow}}</td>
							  	</tr>
							  	<tr>
							    	<td colspan="2" >少</td>
							    	<td colspan="2" class="red">{{if tg.lsbg.k=='少'}}{{tg.lsbg.v}}{{/if}}</td>
							    	<td colspan="2" >女</td>
							    	<td colspan="2" class="red">{{if tg.nnbg.k=='女'}}{{tg.nnbg.v}}{{/if}}</td>
							  	</tr>
								<tr>
							    	<td colspan="2" >统计</td>
							    	<td colspan="2" >{{tg.lsbg.v+tg.nnbg.v}}</td>
									<td colspan="2" >累计</td>
							    	<td colspan="2" >{{tg.lj}}</td>
							  	</tr>
							  	<tr>
							    	<td colspan="2" >{{if frow>-1}}{{frow-1}}{{else}}--{{/if}}</td>
							    	<td colspan="2" >结果</td>
									<td colspan="4" class="focus_jg"></td>
									<td colspan="2" >结果</td>
							    	<td colspan="2" >{{if frow>-1}}{{frow-1}}{{else}}--{{/if}}</td>
							  	</tr>
	</script>
	</body>
</html>
